* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  text-align: center;
}

body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.game-board {
  background: gray;
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.tile {
  background: rgba(255, 255, 255, 1);
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  border: 5px solid dodgerblue;
  cursor: pointer;
}

.player-mark {
  color: black;
  font-size: 50px;
  text-transform: capitalize;
}

.message-box {
  color: white;
  height: 100px;
  width: 300px;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  background: black;
  color: white;
  height: 50px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.play-again:hover {
  background: white;
  color: black;
  cursor: pointer;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
